* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #e5e5e5;
  transition: all 0.3s ease;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}

.player {
  width: 390px;
  margin: 10px auto;
  padding: 20px 30px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  transition: all 0.5s ease;
  position: relative;
  overflow: hidden;
}

body.active .player {
  background-color: #030e35;
}

.playlist-right {
  cursor: pointer;
}

.list {
  position: absolute;
  top: 80px;
  right: -400px;
  background-color: #000;
  color: #fff;
  z-index: 7;
  text-align: left;
  transition: all 0.5s ease;
}

.list h3 {
  padding: 10px 30px;
  margin-bottom: 10px;
  cursor: pointer;
}

.list.activeList {
  right: 0px;
}

.playlist {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body.active .playlist h3 {
  color: white;
}

.main_img {
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.song_title {
  margin-bottom: 6px;
}

body.active .song_title {
  color: white;
}

.artist_title {
  margin-bottom: 30px;
  color: #0b40ff;
  font-size: 16px;
}

#audio-player-container {
  padding: 0 40px;
}

#song-slider {
  margin-bottom: 10px;
  width: 100%;
  height: 3px;
  background-color: gray;
  position: relative;
  cursor: pointer;
}

.song-slider_move {
  position: absolute;
  height: 3px;
  background-color: blue;
}

.times {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
body.active .times {
  color: white;
}

.changes {
  margin-bottom: 16px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loop {
  margin-bottom: 30px;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loop img {
  background: white;
  border-radius: 4px;
}

.volumes {
  display: flex;
  justify-content: space-between;
  gap: 2px;
  align-items: center;
}

.volumes img {
  background: white;
  border-radius: 4px;
}
#volume-slider {
  width: 100%;
}

.music_img {
  animation: playing 5s linear infinite;
  animation-play-state: paused;
}

.music_img.active {
  animation-play-state: running;
}

@keyframes playing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
